<ion-header>
  <ion-toolbar>
    <ion-title>Notícia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <h5 class="titulo">As manchas de óleo já afetaram mais de 650 localidades</h5>
      </ion-item>
    
      <div class="texto">
          <img class="img1"src="/assets/praiaOleo.jfif" alt="" />
        <p>As manchas de óleo que atingem o litoral brasileiro já afetaram mais de 650 localidades, segundo o último balanço do Ibama, publicado nesta terça.
        </p> 
          <p>Há registro de manchas de óleo nos 9 estados do Nordeste – Alagoas, Bahia, Ceará, Maranhão, Paraíba, Pernambuco, Piauí, Rio Grande do Norte e Sergipe – e também no Espírito Santo. O óleo já atingiu quase 70% dos municípios do litoral nordestino desde o início do desastre, no final de agosto.
          </p>
        <img src="/assets/mapa.jfif" alt="" />
        <p>Ao todo, 68% dos municípios do litoral nordestino foram contaminados desde o início do desastre ambiental. Das 111 cidades afetadas, 107 estão no Nordeste e 4 no Espírito Santo, primeiro estado do Sudeste atingido pelas manchas. Segundo o IBGE, existem 156 municípios no litoral nordestino.
          </p>
      </div>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="irParaHome()">
          <ion-fab-button>
            <ion-icon name="home"></ion-icon>
          </ion-fab-button>
        </ion-fab>
</ion-content>
