p{
    margin-left: 4%;
    margin-right: 4%;
    
}

img{
    width: 95vw;
    margin-left: 2%;
}


.img1{
    margin-top: 4%;
    width: 95vw;
    margin-left: 2%;
}
ion-fab-button{
    --background:#004A4A;
}
ion-toolbar{
    --background:teal;
    color: beige;
}

ion-title{
    font-family: 'Roboto Slab', bold;
    font-size: 1.6em;
}
p{
    font-family: 'Roboto';
}

h5{
    font-family: 'Roboto';
}