<ion-header>
    <ion-toolbar>
      <ion-title>
        Petgunta 3/5
        <img class="nemo"src="assets/nemo.png" width="65">
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <div class="pergunta">
          <img class="pImg" src="assets/pergunta3.png">
        </div>
    <div class="respostas">
      <ion-button expand="full" shape="round" (click)="alertaErrada()"> A) Abril</ion-button>
      <ion-button expand="full" shape="round" (click)="alertaErrada()"> B) Maio</ion-button>
      <ion-button expand="full" shape="round" (click)="alertaErrada()"> C) Outubro</ion-button>
      <ion-button expand="full" shape="round" (click)="alertaCerta()"> D) Setembro</ion-button>
    </div>
  </ion-content>
  <!--<img class="nemo" src="https://tse2.mm.bing.net/th?id=OIP._ZrjCljwEi-KJzU0zCdQJwHaFw&pid=Api&P=0&w=198&h=155" width="50">-->