.pergunta {
    
    margin-top: 15%;
    margin-left: 8%;
}
.respostas {
    margin-top: 20%;
}
ion-button {
    --background: teal;
}
.nemo {
    margin-left: 200px;
}
ion-item{
    --border-width:5px;
     width: 82vw;
    --border-color:rgb(14, 12, 12);
   
}

ion-text{
    width: 80vw;
    font-size: 1.25em;
}