<ion-header>

</ion-header>

<ion-content>
  <div class="titulo"> <ion-title>Seja bem-vindo!</ion-title></div>
  <div class ="ion-padding">
    <form [formGroup]="loginForm" (ngSubmit)="loginUsuario(loginForm)" >
      
        
        <ion-item>
            <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email" ></ion-input>
        </ion-item>
  
          <ion-item >
              <ion-label position="floating">Senha</ion-label>
              <ion-input class="senha" type="password"  formControlName="password"></ion-input>
          </ion-item>
      
      <ion-text id="cadastrar" (click)="irParaCadastro()" >
          <span>Criar conta</span>
      </ion-text>

    <ion-row class="ion-justify-content-center">
      <ion-button type="submit" shape="round"  [disabled]="loginForm.invalid"> Entrar </ion-button>
    </ion-row>
  </form>
  </div>
</ion-content>
