
.respostas {
    margin-top: 20%;
}
ion-button {
    --background: #0BACAC;
}
.nemo {
    margin-left: 130px;
    margin-top: 1%;

}
.pImg{
    width:84vw;
    margin-left: 7%;
    margin-top:10%;
    border: 1px solid;
    padding: 10px;
}


ion-title{
    margin-bottom: 2%;
}

ion-toolbar{
    --background:#004A4A;
    color: beige;
  }

  ion-content{
    --background: teal;
}
