<ion-header>
    <ion-toolbar>
      <ion-title>
        Pergunta 5/5
        <img class="nemo" src="assets/nemo.png" width="65">
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <div class="pergunta">
          <img class="pImg" src="assets/pergunta5.png">
        </div>
    <div class="respostas">
      <ion-button expand="full" shape="round" (click)="alertaErrada()" > A) O território da França. 
      </ion-button>
      <ion-button expand="full" shape="round" (click)="alertaCerta()"> B) Tamanho igual ao Japão.</ion-button>
      <ion-button expand="full" shape="round" (click)="alertaErrada()"> C) Cinco vezes o Vaticano.</ion-button>
      <ion-button expand="full" shape="round" (click)="alertaErrada()"> D) O território do México.</ion-button>
    </div>
  </ion-content>
  <!--<img class="nemo" src="https://tse2.mm.bing.net/th?id=OIP._ZrjCljwEi-KJzU0zCdQJwHaFw&pid=Api&P=0&w=198&h=155" width="50">-->
