<ion-header>
  <ion-toolbar>
    <ion-title>Notícia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h5 class="titulo">O gigantesco 'mar de lixo' no Caribe</h5>
  </ion-item>

  <div class="texto">
      <img class="img1"src="/assets/tartaruga.jpg" alt="" />
    <p>A vida moderna é inimaginável sem os plásticos. Eles estão em praticamente todos os produtos tecnológicos que caracterizam a civilização atual.
    </p>
    <p> A lista é infindável: computadores, celulares, televisões e até contêineres e assentos de privada, afora produtos descartáveis como talheres, pratos, canudos, garrafas, boias, cordas, embalagens, cotonetes e redes de pesca. Não há dúvida de que é um produto útil, durável e versátil.</p>
    <img src="/assets/foca.jfif" alt="" />
    <p>Esse volume se espalha por todos os mares do planeta, com destaque para a chamada Grande Mancha de Lixo do Pacífico, localizada entre a costa oeste dos Estados Unidos e o Havaí. Essa “ilha” de entulhos está crescendo mais rapidamente que se previa.
    </p>
    <p> Uma pesquisa recente, publicada na revista científica “Scientific Reports”, constatou que ela tem cerca de 80 mil toneladas de plásticos descartados, em uma área de 1,6 milhão de quilômetros quadrados, um pouco maior que o estado do Amazonas (1.559.159km2) e quase duas vezes e meia o território da França (643.800km2). O estudo também concluiu que a mancha ocupa hoje uma área 16 vezes maior do que se estimava.</p>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="irParaHome()">
      <ion-fab-button>
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>

