<ion-header>
  <ion-toolbar>
    <ion-title>Notícia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <h5 class="titulo">O Dia Mundial de Limpeza de Praias</h5>
      </ion-item>
    
      <div class="texto">
          <img class="img1"src="/assets/sacos.jfif" alt="" />
        <p>A Associação Brasileira do Lixo Marinho (ABLM) no Ceará e os amigos, voluntários, coletivos e instituições ligadas ao Projeto Limpando o Mundo Ceará movimentam, hoje, seis municípios, 22 localidades (praias, rios, manguezais e estuários).
          </p>
          <p>Cerca de 300 pessoas da rede de parceiros em uma grande ação de proteção da vida marinha e dos oceanos, no Dia Mundial de Limpeza de Praias, neste 15 de Setembro, terminando com outras ações no fim do mês. 
          </p>
        <img src="/assets/lixoRJ.jfif" alt="" />
        <p>O Dia Mundial de Limpeza de Praias ocorre todos os anos no terceiro sábado do mês de setembro. Ao redor do Planeta, organizações governamentais e não-governamentais, junto com a sociedade civil organizada, se propõem a ações de Limpezas de Praias remoção do lixo marinho nos ambientes litorâneos e serranos.
          </p>
          <p>Isso se dá por meio de ações de Educação Ambiental para a população, focando na divulgação das consequências da poluição marinha nos ecossistemas e na vida humana e no destino correto dos resíduos sólidos. 
          </p>
      </div>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="irParaHome()">
          <ion-fab-button>
            <ion-icon name="home"></ion-icon>
          </ion-fab-button>
        </ion-fab>
</ion-content>
