<ion-header>
  <ion-toolbar>
    <ion-title>VidAgua</ion-title>
    <ion-chip class="login" (click)="irParaLogin()">
        <ion-label>Login</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/imagem_teste.jpg" alt="" />
    <ion-card-header>
        <ion-card-title>Água é importante</ion-card-title>
      <div class="titulo">
        <ion-card-subtitle>Estima-se que 97,5% da água existente no mundo é salgada e não é adequada ao nosso consumo direto nem à irrigação da plantação.
           </ion-card-subtitle>
        <ion-chip class="lerMais">
          <ion-label>Ler mais</ion-label>
        </ion-chip>
      </div>
    </ion-card-header>
  </ion-card>
</ion-content>
