<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">
      <img src="assets/Logo.png" width="120">
    </ion-title>
    <ion-chip class="login" (click)="irParaLogin()">
        <ion-label>Sair</ion-label>
    </ion-chip> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/MarDeLixo.jpg" alt="" />
    <ion-card-header>
        <ion-card-title>O gigantesco 'mar de lixo' no Caribe</ion-card-title>
      <div class="titulo">
        <ion-card-subtitle> Apenas nos oceanos, estima-se que sejam despejados 8 milhões de toneladas de plástico a cada ano.
           </ion-card-subtitle>
        <ion-chip class="lerMais" (click)="irParaNoticia1()">
          <ion-label>Ler mais</ion-label>
        </ion-chip>
      </div>
    </ion-card-header>
  </ion-card>

  <ion-card>
      <img src="/assets/tartOleo.jfif" alt="" />
      <ion-card-header>
          <ion-card-title>As manchas de óleo já afetaram mais de 650 localidades</ion-card-title>
        <div class="titulo">
          <ion-card-subtitle>  Há registro de manchas de óleo nos 9 estados do Nordeste – Alagoas, Bahia, Ceará, Maranhão, Paraíba[...]
             </ion-card-subtitle>
          <ion-chip class="lerMais" (click)="irParaNoticia2()">
            <ion-label>Ler mais</ion-label>
          </ion-chip>
        </div>
      </ion-card-header>
    </ion-card>

    <ion-card>
        <img src="/assets/limpeza.jfif" alt="" />
        <ion-card-header>
            <ion-card-title>O Dia Mundial de Limpeza de Praias</ion-card-title>
          <div class="titulo">
            <ion-card-subtitle> Ao redor do Planeta, organizações governamentais e não-governamentais, junto com a sociedade civil organizada[...]
               </ion-card-subtitle>
            <ion-chip class="lerMais" (click)="irParaNoticia3()">
              <ion-label>Ler mais</ion-label>
            </ion-chip>
          </div>
        </ion-card-header>
      </ion-card>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="irParaQuiz()">
        <ion-fab-button>
          <ion-icon name="bulb"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      
</ion-content>
