.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
ion-toolbar{
  --background:teal;
  color: beige;
 
}
ion-chip{
  --background:#004A4A;
  color: beige;
  margin-bottom: 23px;
}
ion-card-content{
 display: flex;
 justify-content: space-around;
 border-top: 1px solid gray;
 margin-left: 4%;
 margin-right: 4%;
 padding-top: 3%; 
}

ion-button{
  width: 30vw;
--border-width: 1px;

}
ion-fab-button{
  --background:#004A4A;
}

.lerMais{
    margin-top: 35%;
    width: 65vw;
}
.titulo{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.login{
    margin-top: -10%;
    margin-left: 80%;
}

ion-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
ion-title{
    margin-top: 5%;
}